.margin-li li {
	margin-bottom: 20px;
}

.dispn {
	display: none;
}

.modal .dispn {
	display: none;
}

#form_callback .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_feedback .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_reviews_popup .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_faq_callback .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_order_measurement .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_callback_popap .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_question_popap .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_order_service .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_callback_price .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_order_product .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_subscribe_articles .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_wholesale_customers .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_write_to_us .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_order_service .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_leave-review .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#form_order_popup .error {
	border: 1px solid red  !important;
	background-color: rgb(252, 178, 178)  !important;
	transition: .25s linear;
}

#order .uk-modal-dialog {
	width: auto;
	max-width: 330px;
	padding: 0;
}
#search-panel-top {  display: none;  position: absolute;  bottom: -54px;  left: 0;  right: 0;  background: #53575a;  z-index: 11;}
#search-panel-top .flex-search-panel {  display: -webkit-flex;  display: -ms-flexbox;  display: flex;  -webkit-align-items: center;  -ms-flex-align: center;  align-items: center;  height: 54px;}
#search-panel-top .flex-search-panel input {  -webkit-flex-grow: 1;  -ms-flex-positive: 1;  flex-grow: 1;  height: 34px;  padding: 0 12px;  box-shadow: inset 1px 1px 2px 0px rgba(50, 50, 50, 0.06);}
#search-panel-top .flex-search-panel button {  -webkit-flex-basis: 90px;  -ms-flex-preferred-size: 90px;  flex-basis: 90px;  border: 1px solid #fff;  background: none;  height: 34px;  color: #fff;  font-weight: bold;  text-transform: uppercase;  margin: 0 18px 0 12px;  cursor: pointer;}
#search-panel-top .flex-search-panel .close {  -webkit-flex-basis: 30px;  -ms-flex-preferred-size: 30px;  flex-basis: 30px;  color: #fff;  font-size: 48px;  font-weight: 300;  cursor: pointer;}
.search-result {
	padding: 0;
}
.search-result input{
	width: 90%;
	height: 38px;
	padding: 0 15px
}
.product-block .title {
	color: #414141;
	font-weight: 500;
}
.price-block .title {
	font-size: 20px;
	padding: 20px 15px;
}
.product-block .wrap {
	position: relative;
}
.product-block .content {
	padding-bottom: 67px;
	background: #fff;
}
.product-block .price {
	margin: 5px 0;
}
.product-block .button {
	position: absolute;
	bottom: 5px;
}
.gate-catalog  .bx-wrapper{
	max-width: 905px !important;
}
.popular-products .bx-wrapper {
	max-width: 1140px !important;
}

.sale-outside .wrap p a{
	color: #414141;
}
.top-info-product .product-icons {
	left: 35px;
}

.min-description-block{
	margin-top: 10px;
}

.container {
    width: 100%;
    min-width: 360px;
    max-width: 1170px;
}

.header-mobile__inner {
    background: #343434;
    color: #fff;
    height: 50px;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.header-mobile__logo {
    width: 120px;
}

.header-mobile__burger-inner {
    background: #fff;
    position: relative;
    width: 16px;
    height: 1px;
    padding: 0;
    transition: all 0.1s linear;
}

.header-mobile__burger-inner::before,.header-mobile__burger-inner::after {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 1px;
    padding: 0;
    background-color: #fff;
    transition: all 0.1s linear;
}

.header-mobile__burger-inner::before {
    top: -5px;
}

.header-mobile__burger-inner::after {
    bottom: -5px;
}

.header-mobile__burger--active .header-mobile__burger-inner {
    transform: rotate(45deg);
}

.header-mobile__burger--active .header-mobile__burger-inner::before {
    top: 0;
    transform: rotate(90deg);
}

.header-mobile__burger--active .header-mobile__burger-inner::after {
    display: none;
}

.header-mobile__magnifier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-block {
    align-self: self-start;
}

.header-mobile__search {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    padding: 10px 15px;
    background: #2a2929;
    z-index: 998;
    transition: 300ms;
}

.header-mobile__search label {
    flex-grow: 1;
}

.header-mobile__search input {
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    padding: 0 40px 0 10px;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
}

.header-mobile__search input[type="search"]::-webkit-search-decoration,
.header-mobile__search input[type="search"]::-webkit-search-cancel-button,
.header-mobile__search input[type="search"]::-webkit-search-results-button,
.header-mobile__search input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.header-mobile__search button {
    position: absolute;
    right: 15px;
    background: #fff;
    color: #2a2929;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 999;
    transform: translate3d(-100vw, 0, 0);
    transition: all 0.01s linear;
    background-color: rgba(0,0,0,0.5);
}

.nav-mobile__inner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: #2a2929;
    max-width: 480px;
    position: absolute;
    padding: 20px 15px;
}

.nav-mobile--active {
    transform: translate3d(0, 0, 0);
}

.popular-products .bx-wrapper .bx-controls-direction a {
    height: 40px;
    margin-top: -20px;
    text-align: center;
}

.reviews-container .button {
    margin-top: 7px;
}

@media (max-width: 959px){
    .top-bar-menu ul {
        display: flex;
        flex-direction: column;
    }

    .top-bar-menu ul li {
        display: block;
        margin-right: 0;
        padding: 0;
        border-bottom: 1px solid #828282;
    }

    .top-bar-menu a {
        padding: 15px 0;
        display: flex;
        text-transform: uppercase;
    }

    .top-bar-menu ul li a:hover {
        border: none;
    }

    .dignity-container .wrap {
        justify-content: flex-start;
        padding-left: 20%;
    }

    .dignity-container li {
        border-left: 1px solid #e7e7e7;
        margin-right: -1px;
    }

    .main-slider .content {
        font-size: 9px;
        top: 5px;
        padding: 10px 11px;
    }

    .main-slider .bx-wrapper .bx-controls-auto, .main-slider .bx-wrapper .bx-pager {
        bottom: 0;
    }

    .main-slider .bx-wrapper .bx-pager.bx-default-pager a {
        width: 10px;
        height: 10px;
    }

    .main-slider .bx-wrapper .bx-controls-direction a {
        margin-top: -15px;
    }

    .main-slider .bx-wrapper .bx-controls-direction a i {
        font-size: 26px;
    }

    .main-catalog {
        padding: 25px 0;
    }

    .main-catalog .items a p {
        padding: 10px 0;
        font-size: 14px;
    }

    .main-catalog .catalog-level-one img {
        object-fit: cover;
    }

    .main-title .title {
        padding-left: 20px;
        background-size: 10px auto;
        font-size: 16px;
        padding-top: 1px;
    }

    .about-company {
        padding: 30px 0;
    }

    .main-block-useless {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main-block-useless .reviews-container {
        margin-top: 30px;
    }

    .manager-container .wrap-border {
        padding-bottom: 17px;
    }

    #callback .uk-modal-dialog, #reviews .uk-modal-dialog {
        max-width: 300px;
        margin: 50px auto;
    }

    .fr-callback h3 {
        padding: 20px 20px;
        font-size: 15px;
    }

    .map-contact .wrap {
        width: auto;
        float: none;
        padding: 30px 25px;
    }

    #map {
        height: 300px;
    }

    .footer-menu {
        display: none;
    }

    .footer .webcompany {
        display: none;
    }

    .footer .logo {
        max-width: 172px;
    }

    .contact-form-block .button-file {
        margin-bottom: 20px;
    }

    .price-table {
        width: auto !important;
    }

    .article-outside img {
        width: 100%;
        height: auto;
    }

    .extra-text {
        padding-left: 0;
        padding-right: 0;
    }

    .extra-text div {
        max-width: 100%;
    }

    .characteristic-price {
        max-width: 100%;
        overflow-x: auto;
    }

    table {
        max-width: 100%;
        overflow-x: auto;
        display: block;
    }

    iframe {
        max-width: 100%;
    }

    .contact-form-block {
        margin-top: 20px;
    }

    .price-block .title {
        font-size: 14px;
        padding: 15px 10px;
    }

    .price-block .price span {
        font-size: 16px;
    }

    .price-block .nds {
        padding: 0 10px;
        font-size: 14px;
    }

    .order-price__inner {
        flex-direction: column;
    }

    .order-price__inner > div {
        padding-left: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .order-price__inner > div:last-of-type {
        margin-bottom: 0;
    }

    .contact-panel {
        display: flex;
        align-items: center;
    }

    .prod-dignity {
        flex-direction: column;
    }

    .prod-dignity > li {
        width: 100%;
    }

    .prod-dignity .wrap {
        padding-left: 15px;
        padding-right: 15px;
    }

    .characteristic-block .uk-width-1-1{

    }
}
